include ../task-3/task-3.pug

block variables
  - const title = "Название страницы"
  - const wrapperMods = ""
  - const hasHeader = true
  - const headerMods = ""
  - const hasFooter = true
  - const footerMods = ""
  - const numbers = [1, 2, 3];
  - const options = { title: "Заголовок блока", label: "Подзаголовок №", info: "Текстовое описание №", description: "Текстовое описание блока", spanText: " элемент блока" }


block main
  main
    +heroBlock(numbers, options)